<html>
<head>
    <title>Account History Review Tool</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.6/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zenscroll/4.0.2/zenscroll-min.js" integrity="sha512-u8AVZHNF3Fxvmevg9DJpoSCsc3vs1wr1S52S3XEIVIfIKxXHQexNxEj+fN+XyupzeLvIjPZLZBPmHZveEqhGqA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
</head>
<body>
	<h1>Account History Review Tool</h1>
	<p>
		<label>
			<input id="withdrawals-only" type="checkbox" checked>
			Withdrawals Only?
		</label>
	</p>
	<input type="file" name="file" id="file-input">
	<p>
		<button id="parse" type="button" disabled>
			Parse
		</button>
		<button id="clear" type="button" disabled>
			Clear File
		</button>
	</p>
	<div id="vue-app">
		<div id="category-summary" v-if="categories">
			<h2>Category Summary</h2>
			<table>
				<thead>
					<tr>
						<th>Category</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<template v-for="category in categories">
						<tr>
							<td>
								<a href="#" v-on:click.prevent.stop="scroll(category)">{{ categoryFormat(category) }}</a>
							</td>
							<td>{{ filteredCategorySum(category) | sumFormat }}</td>
						</tr>
					</template>
					<tr class="total">
						<td>TOTAL</td>
						<td>{{ sum | sumFormat }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2">
							<button id="summary-chart-btn" type="button" v-on:click="makeSummaryChart()">Generate Chart</button>
						</td>
					</tr>
				</tfoot>
			</table>
			<canvas id="summary-chart" height="300" width="300"></canvas>
		</div>
		<div id="categories" v-if="categories">
			<template v-for="category in categories">
				<h2 :id="categoryFormat(category) | categoryAttribute">{{ categoryFormat(category) }}</h2>
				<h3>{{ filteredCategorySum(category, true) | sumFormat }}</h3>
				<table class="category" :class="'category-' + categoryFormat(category) | categoryAttribute">
					<tr>
						<th></th>
						<th>
							<table class="filter-table">
								<tr>
									<th>
										<label class="filter-label" :for="'filter-field ' + categoryFormat(category) | categoryAttribute">Filter</label>
									</th>
									<th>
										<input :id="'filter-field ' + categoryFormat(category) | categoryAttribute" class="filter-field" type="text" placeholder="Filter descriptions..." v-model="filters[category]">
									</th>
									<th>
										<button class="clear-filter" type="button" v-on:click="clearTransactionFilter(category)" :disabled="!filters[category]">Clear</button>
									</th>
								</tr>
							</table>
						</th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th v-for="key in keys">
							{{ key.raw }}
						</th>
					</tr>
					<template v-for="row in filteredRows(category)">
						<tr>
							<td :class="key" v-for="(value, key) in row">
								{{ rowValueFilter(key, value) }}
							</td>
						</tr>
					</template>
				</table>
			</template>
		</div>
	</div>
	<script src="main.js"></script>
</body>
</html>
