table {
	border: 1px solid;
	font-family: monospace;
}
table.category {
	width: 100%;
}
table + table {
	margin-top: 1em;
}
td {
	padding: 2px;
	border: 1px solid;
}
td.amount, td:last-child {
	text-align: right;
}
tr.total {
	font-size: 20px;
}
#category-summary table {
	font-size: 15px;
}
